h1 {
  color: green;
}
footer {
  background-color: maroon;
  border-top-color: #003366;
  color: green;
}
nav {
  background-color: maroon;
}
a {
  color: green;
}
a:hover {
  color: red;
}
#centerText {
  text-align: center;
}
